@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

html {
    font-family: 'Roboto', sans-serif;
    font-family: 'Montserrat', sans-serif;
    background-color: oldlace;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    padding: 16px;
    padding-bottom: 20px;
}

footer {
    padding: 30px;
    background-color: navajowhite;
    color: hsl(39, 46%, 42%);
    font-size: 15px;
    margin-top: auto;
}

header {
    background-color: navajowhite;

}

img {
    height: 200px;
}

nav {
    border-bottom: 1px solid black;
    padding: 16px;
}


a {
    text-decoration:none;
}


#gridlayout {
    /* display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px; */
    grid-gap: 10px;
    display: grid;
    grid-template-columns: 200px 200px 200px 200px 200px;
    grid-template-rows: 200px 200px;
    grid-auto-flow: row;
}

/* .gridsetup { */
    /* display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px;
    grid-template-rows: 300px 300px;
    grid-auto-flow: row; */
    /* grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4; */
/* } */

h1 {
    color: #e4ba83;
    font-weight: 900;
}

h2 {
    color: #ddb263;
}

.imgbox {
    box-shadow: 10px 10px seashell;
}

a:visited {
    color: rosybrown;
}

a:hover {
    color: lightsteelblue;
    font-weight: 800;
    text-decoration: underline;
}

h3 > div {
    color: rosybrown;
}


tr:nth-child(even) {
    background-color: gainsboro;
}
